.NavBar {
  width: 100%;
  height: 80px;
  background-color: #1f2235;
  /* top: 5vh;
  left: 0;
  right: 0; */
  /* position: absolute; */
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-bottom: 0.5px solid white;
  /* position: fixed; */
}
.navItem {
  width: 100px;
}
.navA {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.navA:hover {
  color: #ec4858;
}
.Portfolio {
  position: absolute;
  left: 10%;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.Portfolio > p:nth-child(1) {
  width: 38px;
  color: #ec4858;
  font-size: larger;
}

.active {
  color: #ec4858;
}

.Main {
  width: 100%;
  /* margin-top: 80px; */
  height: calc(100vh - 80px);
  overflow-y: auto;
  display: flex;
}

.socialMedia {
  width: 6%;
  height: 60vh;
  border-right: 1px solid white;
  margin: 0px auto 0px 0px;
  display: flex;
  align-items: center;
}

.socialMediaInnerContent {
  width: 90%;
  height: auto;
  margin: auto;
  /* background-color: #fd6500; */
  font-size: 22px;
}
.Icon {
  width: 40px;
  height: 40px;
  border: 1px solid #ec4858;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 20px auto;
  cursor: pointer;

  /* color: #fd6500; */
  /* background-color: white; */
}
.Icon:hover {
  color: #ec4858;
  transform: rotateY(180deg);
  transition: transform 1s;
  transform-style: preserve-3d;
}
@media screen and (max-width: 800px) {
  .socialMedia {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    border-right: 0;
    border-top: 1px solid;
  }
  .socialMediaInnerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .Icon {
    /* height: auto; */
    margin: auto;
  }
  .Main {
    height: calc(100vh - 80px - 60px);
  }
}

@media screen and (max-width: 420px) {
  .navA {
    font-size: large;
  }
}
@media screen and (max-width: 768px) {
  .NavBar {
    height: auto; /* Allow the Navbar to adjust its height based on content */
    flex-direction: column; /* Stack items vertically for smaller screens */
    padding: 10px; /* Add padding for better spacing */
    font-size: large;
    border-bottom: none;
  }
  .NavBar.close {
    height: 50px;
  }
  .NavBar.open {
    height: 100vh;
    flex-direction: column;
    justify-content: start;
  }
  .NavBar.open > .menuItems {
    margin-top: 50px;
  }

  .navItem {
    margin-right: 0; /* Remove margin between nav items */
    /* margin-bottom: 10px; Add margin below each nav item */
    width: 100%; /* Set nav items to full width */
    text-align: center; /* Center text for smaller screens */
    font-size: large;
    height: 40px;
    margin-top: 15px;
  }
  .navItem > a {
    height: 40px;
    font-size: 25px;
  }
  .menuToggle {
    align-items: end;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    font-size: larger;
  }
  .navA.Portfolio {
    left: 0px;
  }
  .navItem > .active {
    background-color: #ec4858;
    color: white;
    width: 100vw;
    display: block;
  }
}
